@use "variables.scss" as v;

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url("../assets/maeve_3_3.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#app {
  @include v.flex(column, center, center);
  color: #fff;
  font-family: "Roboto Slab", serif;
}

header {
    h2 {
        font-family: "Minecraft", sans-serif;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 1px;
    }
  .short {
    display: none;
  }
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  @include v.flex(row, space-between, center);
  gap: 5px 25px;
  flex-wrap: wrap;
  padding: 15px;
  backdrop-filter: blur(200px) brightness(0.1) contrast(0.8);
  -webkit-backdrop-filter: blur(200px) brightness(0.1) contrast(0.8);

  a {
    color: #fff;
    text-decoration: none;
  }

  .right-side {
    @include v.flex(column, space-between, flex-end);
    .cta {
        font-family: "Minecraft", sans-serif;
        letter-spacing: 1px;
        @include v.flex(row, center, center);
        gap: 5px;
        padding: 10px 10px 8px 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
  }
}


.page {
    position: absolute;
    overflow-y: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0px;
    padding-top: 200px;
  
    @include v.flex(column, flex-start, center);
    h1 {
      text-align: center;
      width: 100%;
      font-size: 2.7em;
    }
  
    footer {
      padding: 15px;
      span {
        font-size: 1em;
        color: #00000063;
      }
    }
  }
  