@use "variables.scss" as v;

@media screen and (max-width: 867px) {
    header {
        .anchors {
            a {
                font-size: 1em;
            }
        }
        h2 {
            font-size: 1.5em;
        }
    }
    
}


@media screen and (max-width: 590px) {
    .form.map a:nth-child(3) {
        background-position: 50% 50% !important;
        background-size: cover !important;
    }
}